footer {
  padding: 15px;
  background-color: #6c9a8b;
  font-weight: 400;
  grid-area: footer;
}

footer .inner-container {
  max-width: 1400px;
  margin: auto;
}

.social-media {
  display: flex;
}

.social-media a {
  margin-right: 10px;
}

.social-media img {
  width: 30px;
  grid-area: sm;
}

.footer-menu {
  grid-area: nav;
  margin: 20px 0;
}

.footer-menu ul {
  padding: 0;
  margin: 0;
  font-weight: 600;
  list-style: none;
}

.footer-menu ul li::before {
  content: none;
}

.footer-menu ul li + li {
  margin-top: 10px;
}

.footer-menu ul li a {
  color: #131200;
}

.copyright {
  grid-area: cr;
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 20px;

  }

  footer .inner-container {
    display: grid;
    grid-template-areas: 
      "sm nav"
      "cr cr";
  }

  .footer-menu {
    margin: 0 0 20px;
  }

  .footer-menu ul {
    display: flex;
    justify-content: flex-end;
  }

  .footer-menu ul li + li {
    margin: 0 0 0 10px;
  }
}