header {
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: #6c9a8b;
}

.container {
  display: grid;
  max-width: 1400px;
  padding: 15px;
  margin: auto;
  grid-template-columns: 1fr 7fr;
  gap: 15px;
}

.logo {
  width: 80px;
  max-width: 80px;
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-title {
  margin-top: 10px;
  font-family: 'Molle', cursive;
  font-size: 30px;
}

.nav-item {
  margin-right: 5px;
  font-weight: 600;
  color: #fff;
}

.nav-item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 15px 5%;
    gap: 5%;
  }
}

@media screen and (min-width: 1024px) {
  .logo {
    width: 100px;
    max-width: 100px;
  }

  .blog-title {
    font-size: 50px;
  }

  .nav-item {
    margin-right: 10px;
  }
}