.hero {
  display: none;
  background: url(../img/knitpattern2.jpg) repeat-x;
}

.intro {
  max-width: 700px;
  margin: 50px auto 0;
  font-size: 18px;
  text-align: center;
}

.intro h1 {
  font-weight: 400;
  font-size: 40px;
}

.preview {
  margin: 50px 0;
}

.card {
  overflow: hidden;
  border: 1px solid #6c9a8b;
  border-radius: 5px;
}

.card + .card {
  margin-top: 15px;
}

.card-img-container {
  position: relative;
  margin: 0;
}

.card-img-caption {
  position: absolute;
  bottom: 3px;
  padding: 5px 8px;
  background-color: rgba(19, 18, 0, 0.3);
  font-weight: 200;
  font-size: 14px;
  line-height: 1;
  font-style: italic;
  color: #fff;
}

.card-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 39%;
}

.card-text {
  flex: 1 0;
}

.card-title {
  margin: 7px 10px 15px;
  font-weight: 600;
  font-size: 24px;
}

.card-title a {
  color: #131200;
}

.card-teaser {
  padding: 0 10px;
  font-size: 15px;
}

.card-button {
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .preview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
  }

  .card + .card {
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    display: block;
    height: 400px;
  }
  
  .preview {
    grid-template-columns: repeat(3, 1fr);
  }
}