@import url(header.css);
@import url(home.css);
@import url(blog.css);
@import url(footer.css);

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  color: #131200;
}

a {
  color: #ff5d5d;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  max-width: 1400px;
  padding: 0 15px;
  margin: auto;
  grid-area: main;
}

p {
  line-height: 1.5;
}

p b {
  font-weight: 700;
}

p i {
  font-weight: 600;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  line-height: 2;
  list-style: none;
}

ul li::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 10px 3px 0;
  background-image: url(../img/button.svg);
  background-size: contain;
  vertical-align: middle;
}

h1,
h2,
h3 {
  margin: 1em 0 0.7em;
}

h1 {
  font-weight: 700;
  font-size: 35px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
}

h3 {
  font-weight: 600;
  font-size: 24px;
}

blockquote p {
  margin: 1em 0 0.5em;
  font-family: "Molle", cursive;
  font-size: 30px;
}

blockquote span {
  font-weight: 200;
  font-size: 14px;
  font-style: italic;
}

.button {
  display: inline-block;
  padding: 5px 0;
  border: 2px solid #ff5d5d;
  border-radius: 5px;
  background-color: #fff;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.button a {
  padding: 5px 10px;
}

.button:hover {
  background-color: #ff5d5d;
}

.button:hover a {
  color: #fff;
}

.button a:hover {
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  main {
    padding: 0 20px;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 30px;
  }
}